# Ignore Mac cache and python cache
.DS_Store
*/__pycache__

# Ignore .idea folder by ignoring followings
.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
.idea/

# Ignore test.py script
test.py


# Ignore .mp4 videos and the folder frames that contains frame plots
*.mp4
*/frames
*.gif

# Ignore HDF5 files
*.hdf5

# Ignore csv files
*.csv

